body {
    background-color: #4e4f50;
}

.form-body {
    background-color: whitesmoke;
    width: 500px;
}

.dropdown > input {
    display: block;
}

.control-btns > .btn {
    width: 220px;
}
.requiredColor {
    color:darkred;
}

