/*css to make palendrome html responsive*/

/*Cite: I used the bootstrap reference for typical media query sizes
 * URL: https://getbootstrap.com/docs/5.0/layout/breakpoints/
 */

/*575px and lower*/
.m-section {
  width: 350px;
}

@media (min-width: 576px) {
  .m-section {
    width: 400px;
  }
}

@media (min-width: 750px) {
  .m-section {
    width: 450px;
  }
  .user-section {
    display: inline-flex;
  }
}

@media (min-width: 1100px) {
  .m-section {
    width: 510px;
  }
  .user-section {
    display: inline-flex;
  }
}
